body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
}

/* HEADER SECTION */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav {
    font-weight: bold;
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

header nav a:hover {
    color: #007BFF;
}

/* MAIN SECTION */
.banner {
    background-image: url('./imagens/501463.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    text-align: left;
}



